<div class="modal" id="installedModal">
  <div
    class="modal-dialog"
    role="document"
    style="margin: 1.75rem auto; min-width:800px; max-width:48%"
  >
    <div class="modal-content">
      <div class="modal-header" data-bs-theme="dark">
        <h5 class="modal-title" id="installedModalLabel">
          <div class="float-start mt-1">
            <i class="fa fa-list"></i> Installed APP's
          </div>
        </h5>
        <div class="btn-group ms-auto me-auto">
          <a class="btn btn-md btn-primary" onclick="toggleSearch()">
            <i class="fa fa-search"></i> Search</a
          >
          <a
            onclick="getUpdates()"
            id="updateBadge"
            class="adbdev btn btn-info btn-md disabled"
            ><i class="fa fa-search"></i> Check mount for updates</a
          >
          <button
            class="btn btn-md btn-primary dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa fa-sort"></i> Sort By
          </button>
          <ul
            id="appmodaldropdownmenu"
            class="dropdown-menu"
            style="right: 0; left: auto; top: auto"
          >
            <li>
              <a class="dropdown-item" onclick="sortApps('simplename', 1)">
                <i class="fa fa-sort-alpha-asc"></i>
                App name</a
              >
            </li>
            <li>
              <a class="dropdown-item" onclick="sortApps('simplename', 0)">
                <i class="fa fa-sort-alpha-desc"></i>
                App name (decending)</a
              >
            </li>
            <li>
              <a class="dropdown-item" onclick="sortApps('packagename', 1)">
                <i class="fa fa-sort-amount-asc"></i>
                Package name</a
              >
            </li>
            <li>
              <a class="dropdown-item" onclick="sortApps('packagename', 0)">
                <i class="fa fa-sort-amount-desc"></i>
                Package name (decending)</a
              >
            </li>
          </ul>
        </div>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        <table class="table table-striped-rookie table-condensed text-white">
          <tbody id="intalledTable"></tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  /* eslint
    no-unused-vars: [
      "error", {
        "varsIgnorePattern": "sortApps",
      }
    ]
  */
  console.log('ONLOAD installed');
  $id('processingModal').modal('show');
  ipcRenderer.send('get_installed', '');

  if (remote.getGlobal('adbDevice') && remote.getGlobal('mounted')) {
    $id('updateBadge').removeClass('disabled');
  }
  function sortApps(key, asc) {
    const suffix = asc ? '' : '-desc';
    sortAppElements($id('intalledTable'), key, asc);
    ipcRenderer.send('change_config', { key: 'sortApps', val: key + suffix });
  }
  function sortAppElements(el, key, asc) {
    const sortByName = key.startsWith('simplename');
    el.html(
      el.find('tr').sort((a, b) => {
        const valA = (
          sortByName ? a.dataset.simplename : a.dataset.packagename
        ).toLowerCase();
        const valB = (
          sortByName ? b.dataset.simplename : b.dataset.packagename
        ).toLowerCase();
        if (valA < valB) {
          return asc ? -1 : 1;
        }
        if (valA > valB) {
          return asc ? 1 : -1;
        }
        return 0;
      }),
    );
  }
</script>
