<div class="card text-light bg-primary">
  <div class="card-header sticky" id="nav-panel">
    <h4 class="float-start mb-0">
      <a
        class="btn btn-md btn-primary"
        onclick="upDir()"
        title="Up dir ../ (hotkey:backspace)"
      >
        <i class="fa fa-level-up"></i>
      </a>
      <a
        class="btn btn-md btn-primary"
        id="shell-open-dir-path"
        title="Open by filebrowser"
      >
        <i class="fa fa-folder-open"></i>
      </a>
      <a class="btn btn-md btn-primary" id="edit-dir-path" title="Edit path">
        <i class="fa fa-edit"></i>
      </a>
      <span id="path"></span>
    </h4>
    <h4 class="float-end mb-0">
      <button
        class="btn btn-md btn-primary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="fa fa-star" title="Bookmarks"></i>
      </button>
      <ul
        id="bookmarksdropdown"
        class="dropdown-menu"
        style="left: auto; top: auto"
      >
        <li class="input-group">
          <input
            id="bookmarkName"
            class="ms-3"
            value=""
            placeholder="Bookmark name"
          >
          <a class="btn btn-warning btn-sm me-3" id="addBookmark">
            <i class="fa fa-plus" title="Add current location"></i
          ></a>
        </li>
        <hr>
      </ul>
      <a
        class="btn btn-md btn-primary"
        onclick="refreshDir()"
        title="(hotkey: ctrl+r)"
      >
        <i class="fa fa-refresh"></i> Refresh</a
      >
      <a
        class="btn btn-md btn-primary"
        onclick="toggleSearch()"
        title="(hotkey: ctrl+f)"
      >
        <i class="fa fa-search"></i> Search</a
      >
      <button
        class="btn btn-md btn-primary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="fa fa-sort"></i> Sort By
      </button>
      <ul
        id="sortdropdownmenu"
        class="dropdown-menu"
        style="right: 0; left: auto; top: auto"
      >
        <li>
          <a class="dropdown-item" onclick="sortFiles('name', 1)">
            <i class="fa fa-sort-alpha-asc"></i> Name</a
          >
        </li>
        <li>
          <a class="dropdown-item" onclick="sortFiles('name', 0)">
            <i class="fa fa-sort-alpha-desc"></i> Name (decending)</a
          >
        </li>
        <li>
          <a class="dropdown-item" onclick="sortFiles('modified', 1)">
            <i class="fa fa-sort-amount-asc"></i> Last modified</a
          >
        </li>
        <li>
          <a class="dropdown-item" onclick="sortFiles('modified', 0)">
            <i class="fa fa-sort-amount-desc"></i> Last modified (decending)</a
          >
        </li>
      </ul>
    </h4>
  </div>
  <div class="card-body">
    <div class="card-text">
      <div
        id="browseCardBody"
        class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5"
      ></div>
      <table class="table table-striped-rookie table-hover">
        <tbody id="list-table"></tbody>
      </table>
    </div>
  </div>
</div>

<script>
  /* global promptDialog, addBookmark, getDir */
  (() => {
    $id('processingModal').modal('show');
    id('nav-panel').style.top = `${$id('topbar').height()}px`; // fix navbar position

    const { dirBookmarks } = remote.getGlobal('currentConfiguration');
    for (const { name, path } of dirBookmarks) {
      addBookmark(name, path, false);
    }

    id('addBookmark').onclick = () => {
      addBookmark(id('bookmarkName').value, id('path').title);
    };
    id('shell-open-dir-path').onclick = () => {
      shell.openPath(id('path').title);
    };
    id('edit-dir-path').onclick = () => {
      promptDialog(
        'Change directory location',
        '',
        id('path').title,
        true,
      ).then((loc) => {
        if (loc) {
          getDir(loc);
        }
      });
    };
  })();
</script>
